:root {
  --primary-color: #2475b0;
  --secondary-color: #0a79df;
  --light-color: #009ee3;
  --dark-color: #192a56;
  --grey-color: #555;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--light-color);
}

.btn-primary {
  background: var(--primary-color);
}

.btn-dark {
  background: #000;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  padding: 10px;
}

.hr {
  height: 2px;
  width: 3rem;
  background: var(--primary-color);
  display: block;
  margin: 0 auto 1rem auto;
}
.hr-dark {
  height: 2px;
  width: 20rem;
  background: #000;
  display: block;
  margin: 0 auto 1rem auto;
}

/* ---- Main Nav ---- */
#main-nav {
  background: var(--primary-color);
}
#main-nav .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#main-nav .container .social {
  justify-self: center;
  display: flex; /* Side by side aligning */
  align-items: center;
  justify-content: center;
}
#main-nav .container ul {
  justify-self: flex-end;
  display: flex; /* Side by side aligning */
  align-items: center;
  justify-content: center;
}

#main-nav ul a {
  font-size: 1.2rem;
}

#main-nav .social i {
  padding-right: 1rem;
}

#main-nav ul li a {
  padding: 0.75rem;
}

#main-nav ul li a.current {
  background: var(--dark-color);
  color: #fff;
}
/* Saection:Full video */
.v-header {
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  color: #fff;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.header-overlay {
  height: 100vh;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: #225470;
  opacity: 0.4;
}

.header-content {
  display: grid;
  grid-template-columns: auto;
  z-index: 2;
  margin: auto;
}

.header-content h1 {
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
}

.header-content p {
  font-size: 1.5rem;

  padding-bottom: 2rem;
  text-align: center;
}

.header-content .btn {
  margin: auto;
}
/* Showcase */
#showcase {
  padding-bottom: 3rem;
  background: url('img/bg.jpg') no-repeat;
}

#showcase h1 {
  padding: 5rem 0 2rem 0;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

#showcase h1 span {
  color: var(--secondary-color);
}
#showcase .showcase-container .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

/* Cards */
.card {
  width: 350px;
  z-index: 1;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.card img {
  width: 100%;
  height: 250px;
}

.card .card-content {
  background: var(--grey-color);
  opacity: 0.6;
  padding-bottom: 2rem;
  z-index: 1;
}

.card h2 {
  padding: 15px 0;
  z-index: 3;
}

.card p {
  padding: 10px;
  z-index: 3;
}
.card .boat-price {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

/* FOOTER */
#footer {
  color: #fff;
  background: var(--dark-color);
}

#footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#footer .ul-heading {
  letter-spacing: 1px;
  font-weight: bold;
  padding: 2rem 0 0.2rem 0;
  text-align: center;
  font-size: 1.2rem;
}
#footer .footer-list {
  display: grid;
  text-align: center;
  margin: auto;
}

#footer .newsletter {
  display: grid;
  background: var(--primary-color);
  grid-column: 1 / span 4;
  width: 50%;
  padding: 2rem;
  margin: 5rem auto;
  text-align: center;
}
#footer .newsletter form input[type='email'] {
  height: 35px;
  width: 60%;
  border: none;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}
/* Footer Newsletter Subscribe button */
#footer .newsletter form a {
  padding: 7px 10px;
}

#footer .footer-bottom {
  display: grid;
  width: 100%;
  background: #333;
  grid-column: 1 / span 4;
}
.footer-bottom p {
  text-align: center;
  color: #fff;
}

/* Show Boat Section */
#boat-section {
  background: #333;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-column-gap: 4rem;
}

#boat-section .boat-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px;
}

#boat-section .boat-name h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description-heading {
  padding-top: 5rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
#boat-section .description-1 .description-list li {
  justify-content: center;
  margin: auto;
  width: 60%;
}
#boat-section .description-2 .description-list li {
  justify-content: center;
  margin: auto;
  width: 60%;
}

#boat-section .description-1 .description-list li,
#boat-section .description-2 .description-list li {
  padding-bottom: 0.1rem;
  font-size: 1.1rem;
  color: #fff;
}

.boat-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.boat-images img {
  width: 100%;
  height: 250px;
}

.boat-images img:hover {
  transition: all 0.5s ease-out;
}
#boat-footer {
  background: #333;
  color: #fff;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 500px;
}

#boat-footer .ul-heading {
  letter-spacing: 1px;
  font-weight: bold;
  padding: 2rem 0 0.2rem 0;
  text-align: center;
  font-size: 1.2rem;
}
#boat-footer .footer-list {
  display: grid;
  text-align: center;
  align-items: center;
}

#boat-footer .newsletter {
  display: grid;
  background: var(--primary-color);
  grid-column: 1 / span 4;
  width: 50%;
  padding: 2rem;
  margin: 5rem auto;
  text-align: center;
}
#boat-footer .newsletter form input[type='email'] {
  height: 35px;
  width: 60%;
  border: none;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}
/* Footer Newsletter Subscribe button */
#boat-footer .newsletter a {
  padding: 7px 10px;
}
/* #boat-footer .newsletter {
  display: grid;
  background: var(--dark-color);
  grid-column: 1 / span 4;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}
#boat-footer .newsletter form input[type='email'] {
  height: 35px;
  width: 60%;
  border: none;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

#boat-footer .newsletter form a {
  padding: 7px 10px 9px 10px;
} */

#boat-footer .footer-bottom {
  display: grid;
  width: 100%;
  background: var(--dark-color);
  grid-column: 1 / span 4;
  padding: 0.5rem 0;
}
